@import './reset';

.d-none{
    display: none !important;
}
.d-block{
    display: block !important;
}
.d-flex{
    display: flex !important;
}
// Header section
header{
    background-color: black;
    padding: 1rem;
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        font-size: 1.5rem;
        padding: 0 1rem;
        img{
            width: 300px;
        }
        #cancel{
            z-index: 2;
            color: red;
        }
        .search{
            display: flex;
            #search-input{
                margin-left: 1rem;
                background-color: #000000;
                border: none;
                border-bottom: 1px solid #fff;
            }
        }
    }
    .hamburger-left{
        padding: 0 2rem;
        width: 350px;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.9);
        position: fixed;
        top: 0;
        left: 0;
        ul{
            li{
                margin-bottom: 2rem;
                font-size: 1rem;
                a{
                    color: #fff;
                }
                .plus-icon{
                    
                }
            }
        }
    }
    .brands{
        display: flex;
        align-items: center;
        padding: 0 2rem;
        width: 300px;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.9);
        border-left: 1px solid red;
        position: fixed;
        top: 0;
        left: 350px;
        ul{
            li{
                margin-bottom: 2rem;
                font-size: 1rem;
                a{
                    color: #fff;
                }
            }
        }
    }
}